/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

p {
    line-height: 1.4;
    font-weight: bold;
}

.nav-div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 30px auto 30px auto;
    align-items: flex-end;
}

.nav ul {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
}

.nav li {
    margin-left: 40px;
    margin-right: 40px;
    color: black;
    text-decoration: none;
    height: 100%;
}

.nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

nav a::before {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background-color: black;
    top: 0;
    transition: all ease-in-out 250ms;
    margin-bottom: 5px;
}

nav a:hover::before {
    width: 100%;
    margin-bottom: 5px;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.header-div {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;
    margin-top: 20px;
}

.top-content .text-container-about{
    width: 96%;
    padding: 0 1%;
    padding-bottom: 20px;
    margin-top: 20px;
}

.middle-content {
    margin-bottom: 20px;
}

.middle-content .text-container {
    width: 96%;
    padding: 0 1%;
    padding-bottom: 20px;
    margin-top: 20px;
}

.middle-content-top-div {
    display: flex;
    justify-content: space-evenly;
}

.middle-content-bottom-div {
    display: flex;
    justify-content: space-evenly;
}

.middle-content-top-left-div {
    border-bottom: 1px dashed black;
    margin-right: 10px;
    width: 45%;
}

.middle-content-top-right-div {
    border-bottom: 1px dashed black;
    margin-left: 10px;
    width: 45%;
}

.middle-content-bottom-left-div {
    border-bottom: 1px dashed black;
    margin-right: 10px;
    margin-top: 50px;
    width: 45%;
}

.middle-content-bottom-right-div {
    border-bottom: 1px dashed black;
    margin-left: 10px;
    margin-top: 50px;
    width: 45%;
}


.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content button {
    margin-bottom: 20px;
}

.middle-content .boxes .box:nth-child(1) {
background-color: teal;
}

.middle-content .boxes .box:nth-child(2) {
    background-color: gold;
}

.middle-content .boxes .box:nth-child(3) {
    background-color: cadetblue;
}

.middle-content .boxes .box:nth-child(4) {
    background-color: coral;
}

.middle-content .boxes .box:nth-child(5) {
    background-color: crimson;
}

.middle-content .boxes .box:nth-child(6) {
    background-color: forestgreen;
}

.middle-content .boxes .box:nth-child(7) {
    background-color: darkorchid;
}

.middle-content .boxes .box:nth-child(8) {
    background-color: hotpink;
}

.middle-content .boxes .box:nth-child(9) {
    background-color: indigo;
}

.middle-content .boxes .box:nth-child(10) {
    background-color: dodgerblue;
}
.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}
.bottom-content-about .text-container-about{
    width: 96%;
    padding: 0 1%;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

.set {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.set div {
    position: absolute;
    display: block;
    z-index: -100;
}

.set div:nth-child(1) {
    left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
    object-fit: scale-down;
}

.set div:nth-child(2) {
    left: 50%;
    animation: animate 20s linear infinite;
    animation-delay: -20s;
    object-fit: scale-down;
}

.set div:nth-child(3) {
    left: 70%;
    animation: animate 25s linear infinite;
    animation-delay: -3s;
    object-fit: scale-down;
}

.set div:nth-child(4) {
    left: 0%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
    object-fit: scale-down;
}

.set div:nth-child(5) {
    left: 85%;
    animation: animate 18s linear infinite;
    animation-delay: -10s;
    object-fit: scale-down;
}

.set div:nth-child(6) {
    left: 0%;
    animation: animate 12s linear infinite;
    object-fit: scale-down;
}

.set div:nth-child(7) {
    left: 15%;
    animation: animate 14s linear infinite;
    object-fit: scale-down;
}

.set div:nth-child(8) {
    left: 60%;
    animation: animate 19s linear infinite;
    object-fit: scale-down;
}
@keyframes animate {
    0% {
        opacity: 0;
        top: -10%;
        transform: translateX(20px) rotate(0deg);
    }

    10% {
        opacity: 1;
    }

    20% {
        transform: translateX(-20px) rotate(45deg);
    }

    40% {
        transform: translateX(-20px) rotate(90deg);
    }

    60% {
        transform: translateX(20px) rotate(135deg);
    }

    80% {
        transform: translateX(-20px) rotate(180deg);
    }

    100% {
        top: 110%;
        transform: translateX(-20px) rotate(225deg);
    }
}

.set2 {
    transform: scale(2) rotateY(180deg);
    filter: blur(2px);
    z-index: -4;
}

.set2 {
    transform: scale(.8) rotateX(180deg);
    filter: blur(4px);
    z-index: -4;
}